{% extends 'base.html.twig' %}

{% block body %}
    <div class="profile">
        <div class="info">
            <div class="main_cont">
                <h3>Witamy {{ user.name }}!</h3>
                <a class="btn btn-main" href="/admin/users">Użytkownicy</a>
                <a class="btn btn-main" href="/admin/news">Bieżące wpisy</a>
            </div>
            <div class="img">
                <img src="images/undraw_Hello_qnas.svg" alt="hello">
            </div>
        </div>
        
    </div>
{% endblock body %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="styles/profile.css" />
{% endblock css %}