{% extends 'base.html.twig' %}

{% block body %}
    <div class="profile">
        <div class="info">
            <div class="main_cont six">
                <h3>{{ news.title }}</h3>
                <p>{{ news.description }}</p>
                <p>Autor: {{ author.name }}</p>
            </div>
        </div>
    </div>
{% endblock body %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/styles/profile.css" />
{% endblock css %}