{% extends 'base.html.twig' %}

{% block body %}
    <div class="profile">
        <div class="info">
            <div class="list-group">
                <div class="main_cont two">
                    <h3>Oto lista bieżących użytkowników:</h3>
                    {% for u in users %}
                    <a class="list-group-item" href="/admin/users/{{ u.id }}">{{ u.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/styles/profile.css" />
{% endblock css %}