{% extends 'base.html.twig' %}
{% block title %} Użytkownik {{ user.name }}{% endblock title %}
{% block body %}
    <div class="profile">
        <div class="info">
            <div class="main_cont three">
                <h3>Informacje na temat {{ user.name }}</h3>
                <div class="us_inf">
                    <span>Login: </span> <br/>
                    <p>{{ user.name }}</p>
                    <span>Email: </span> <br/>
                    <p>{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/styles/profile.css" />
{% endblock css %}