{% extends 'base.html.twig' %}

{% block title %}Profil - {{ user.name }}{% endblock title %}

{% block body %}
    <div class="profile">
        <div class="info">

        </div>
    </div>
{% endblock body %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="styles/profile.css" />
{% endblock css %}