<!DOCTYPE HTML>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="kasprzak,technikum,informatyk,mechatronik,elektronik,programista"
        <title>{% block title %}Strona główna{% endblock title %}</title>

        <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/vendor/fontawesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/styles/shape-divider.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="icon" type="image/png" href="images/logo_k.png" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Coustard:wght@400;900&family=Spartan:wght@300;400;500;600&display=swap" rel="stylesheet">
        {% block css %}{% endblock css %}
    </head>
    <body class="preload" id="body-pd">
    
        {# MENU #}
        <div class="s-nawigacja" id="nawigacja">
            <nav class="naw">
                <div>
                    <a href="/" class="naw_link naw__logo">
                        <i class="fas fa-robot naw_icon"></i>
                        <span class="naw_logo-name">ZS nr 36 im. Marcina Kasprzaka</span>
                    </a>

                    <div class="naw-list">
                        <div class="naw_items">
                            <a href="/" class="naw_link active">
                                <i class="fas fa-home naw_icon"></i>
                                <span class="naw_name">Strona główna</span>
                            </a>

                            <a href="/about_us" class="naw_link">
                                <i class="fas fa-users naw_icon"></i>
                                <span class="naw_name">O nas</span>
                            </a>

                            <div class="naw_dropdown">
                                <a href="#" class="naw_link">
                                    <i class="fas fa-graduation-cap naw_icon"></i>
                                    <span class="naw_name">Szkoła</span>
                                    <i class="fas fa-chevron-down naw_icon naw_dropdown_icon"></i>
                                </a>

                                <div class="naw_dropdwon_coll">
                                    <div class="naw_dropdown_content">
                                        <a href="/for_students" class="naw_dropdown_items">Dla uczniów</a>
                                        <a href="/for_parents" class="naw_dropdown_items">Dla rodziców</a>
                                        <a href="/projects" class="naw_dropdown_items">Projekty</a>
                                        <a href="/exams" class="naw_dropdown_items">Egzaminy</a>
                                        <a href="/documents" class="naw_dropdown_items">Dokumenty</a>
                                    </div>
                                </div>
                            </div>
                            

                            <a href="https://uonetplus.vulcan.net.pl/warszawawola" class="naw_link">
                                <i class="fas fa-book naw_icon"></i>
                                <span class="naw_name">Dziennik</span>
                            </a>

                            <a href="/news" class="naw_link">
                                <i class="far fa-newspaper naw_icon"></i>
                                <span class="naw_name">Aktualności</span>
                            </a>

                            <a href="/contact" class="naw_link">
                                <i class="fas fa-phone-alt naw_icon"></i>
                                <span class="naw_name">Kontakt</span>
                            </a>

                            <a href="/gallery" class="naw_link">
                                <i class="fas fa-photo-video naw_icon"></i>
                                <span class="naw_name">Galeria</span>
                            </a>

                            <a href="/partners" class="naw_link">
                                <i class="far fa-handshake naw_icon"></i>
                                <span class="naw_name">Partnerzy</span>
                            </a>
                            <a href="https://gieldakasprzak.codeffect.pl" class="naw_link" target="_blank">
                                <i class="fas fa-book-open naw_icon"></i>
                                <span class="naw_name">Giełda Książek</span>
                            </a>
                            {% if user %}
                                {% if user.admin %}
                                    <a href="/admin" class="naw_link">
                                        <i class="fas fa-bars naw_icon"></i>
                                        <span class="naw_name">
                                            Panel administratora
                                        </span>
                                    </a>
                                {% endif %}
                                <a href="/logout" class="naw_link">
                                    <i class="fas fa-sign-in-alt naw_icon"></i>
                                    <span class="naw_name">
                                        Wyloguj się
                                    </span>
                                </a>
                            {% else %}
                                <a href="/login" class="naw_link">
                                    <i class="fas fa-sign-in-alt naw_icon"></i>
                                    <span class="naw_name">
                                        Zaloguj się
                                    </span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        {# MAIN CONTENT #}
        {% block body %}{% endblock body %}
        {# END MAIN CONTENT #}

        <div class="statistics">
            <section class="important_things">
                <div class="box-container">
                    <h3>Informacje</h3>
                    <div class="list-group">
                        <a href="https://kasprzak.edu.pl/dane/bip/index.html" class="list-group-item">Biuletyn Informacji Publicznej</a>
                        <a href="/for_all_documents#COVID" class="list-group-item">Procedury Bezpieczeństwa Covid-19</a>
                        <a href="/for_all_documents#RODO" class="list-group-item">RODO</a>
                    </div>

                </div>
            </section>
        </div>
        {# FOOTER #}
        <footer>
            &copy; 2021 Copyright: Aleksandra Maliszewska, Mikołaj Duński, Julia Madej <span> || All rights reserved</span>
            <a href="https://www.facebook.com/pages/Zesp%C3%B3%C5%82-Szk%C3%B3%C5%82-Nr-36-im-M-Kasprzaka/123711677701093?ref=hl" target="_blank"><i class="fab fa-facebook"></i></a>
        </footer>


        {# SCRIPTS #}
        <script src="/vendor/jquery/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js"></script> 
        <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/scripts/main.js"></script>
        {% block js %}{% endblock js %}
    </body>
</html>
