<!DOCTYPE HTML>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Strona główna{% endblock title %}</title>

        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="vendor/fontawesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="styles/shape-divider.css" />
        <link rel="stylesheet" type="text/css" href="styles/main.css" />
        <link rel="stylesheet" type="text/css" href="styles/ban_an.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="icon" type="image/png" href="images/logo_k.png" />
        <link href="https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=Shadows+Into+Light+Two&family=Spartan:wght@300;400;500;600&display=swap" rel="stylesheet">

        {% block css %}{% endblock css %}
    </head>
    <body class="preload" id="body-pd">

        {# MENU #}
        <div class="s-nawigacja" id="nawigacja">
            <nav class="naw">
                <div>
                    <div class="naw_brand">
                        <i class="fas fa-bars" id="naw-toggle"></i>
                        <a href="#" class="logo_link"><img src="images/logo_k.png" alt="logo Kasprzaka" class="nav_logo"></a>
                    </div>
                    <div class="naw_list">
                        <a href="/" class="naw_link active">
                            <i class="fas fa-home meh"></i>
                            <span class="naw_name">Home</span>
                        </a>
                    </div>
                    <div class="naw_list">
                        <div class="naw_link c">
                            <i class="fas fa-graduation-cap meh"></i>
                            <span class="naw_name">School</span>

                            <i class="fas fa-caret-down c_link"></i>
                            <ul class="c_menu">
                                <a href="#" class="c_sublink">Students</a>
                                <a href="main/For_parents.html.twig" class="c_sublink">Parents</a>
                                <a href="#" class="c_sublink">Projects</a>
                                <a href="#" class="c_sublink">Exams</a>
                                <a href="#" class="c_sublink">Documents</a>
                            </ul>
                        </div>
                    </div>
                    <div class="naw_list">
                        <a href="#" class="naw_link">
                            <i class="far fa-newspaper meh"></i>
                            <span class="naw_name">News</span>
                        </a>
                    </div>
                    <div class="naw_list">
                        <a href="https://uonetplus.vulcan.net.pl/warszawawola/" class="naw_link">
                            <i class="fas fa-book-open meh"></i>
                            <span class="naw_name">Diary</span>
                        </a>
                    </div>
                    <div class="naw_list">
                        <a href="#" class="naw_link">
                            <i class="far fa-handshake meh"></i>
                            <span class="naw_name">Partners</span>
                        </a>
                    </div>
                    <div class="naw_list">
                        <a href="#" class="naw_link">
                            <i class="far fa-images meh"></i>
                            <span class="naw_name">Gallery</span>
                        </a>
                    </div>
                    <div class="naw_list">
                        <a href="#" class="naw_link">
                            <i class="fas fa-phone meh"></i>
                            <span class="naw_name">Contact</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>

        {# MAIN CONTENT #}
        {% block body %}{% endblock body %}
        {# END MAIN CONTENT #}

        {# FOOTER #}
        <footer>
            &copy; 2021 :)
        </footer>


        {# SCRIPTS #}
        <script src="vendor/jquery/dist/jquery.min.js"></script>
        <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="scripts/main.js"></script>
        {% block js %}{% endblock js %}
    </body>
</html>
