{% extends 'base.html.twig' %}
{% block title %} Szkoła || Galeria {% endblock title %}
{% block css %} <link rel="stylesheet" href="/styles/gallery.css">{% endblock css %}
{% block body %}
    <section class="druh">
        <div class="box">
            <div class="imgBx">
                <img src="/images/undraw_Co_workers_re_1i6i.svg" alt="">
                <h2>Kliknij Ponownie, By Zamknąć</h2>
                <div class="content">
                    <h3>Obraz Numer 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum expedita animi hic mollitia amet quos commodi delectus iure obcaecati molestias? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, quo. Nemo ad autem tempore id corrupti aliquam et magni quo amet nulla, beatae quod corporis deserunt. Ipsam pariatur cum repellat.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="/images/undraw_Code_thinking_re_gka2.svg" alt="">
                <h2>Kliknij Ponownie, By Zamknąć</h2>
                <div class="content">
                    <h3>Obraz Numer 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum expedita animi hic mollitia amet quos commodi delectus iure obcaecati molestias? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, quo. Nemo ad autem tempore id corrupti aliquam et magni quo amet nulla, beatae quod corporis deserunt. Ipsam pariatur cum repellat.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="/images/undraw_Coding_re_iv62.svg" alt="">
                <h2>Kliknij Ponownie, By Zamknąć</h2>
                <div class="content">
                    <h3>Obraz Numer 3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum expedita animi hic mollitia amet quos commodi delectus iure obcaecati molestias? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, quo. Nemo ad autem tempore id corrupti aliquam et magni quo amet nulla, beatae quod corporis deserunt. Ipsam pariatur cum repellat.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="/images/undraw_positive_attitude_xaae.svg" alt="">
                <h2>Kliknij Ponownie, By Zamknąć</h2>
                <div class="content">
                    <h3>Obraz Numer 4</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum expedita animi hic mollitia amet quos commodi delectus iure obcaecati molestias? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, quo. Nemo ad autem tempore id corrupti aliquam et magni quo amet nulla, beatae quod corporis deserunt. Ipsam pariatur cum repellat.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="/images/undraw_Ordinary_day_re_v5hy.svg" alt="">
                <h2>Kliknij Ponownie, By Zamknąć</h2>
                <div class="content">
                    <h3>Obraz Numer 5</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum expedita animi hic mollitia amet quos commodi delectus iure obcaecati molestias? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, quo. Nemo ad autem tempore id corrupti aliquam et magni quo amet nulla, beatae quod corporis deserunt. Ipsam pariatur cum repellat.</p>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="imgBx">
                <img src="/images/undraw_Personal_notebook_re_d7dc.svg" alt="">
                <h2>Kliknij Ponownie, By Zamknąć</h2>
                <div class="content">
                    <h3>Obraz Numer 6</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum expedita animi hic mollitia amet quos commodi delectus iure obcaecati molestias? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, quo. Nemo ad autem tempore id corrupti aliquam et magni quo amet nulla, beatae quod corporis deserunt. Ipsam pariatur cum repellat.</p>
                </div>
            </div>
        </div>
    </section>
    

    
{% endblock body %}
{% block js %} <script src="/scripts/gallery.js"></script>{% endblock js %}