{% extends 'base.html.twig' %}
{% block title %} Uczniowie || Dokumenty {% endblock title %}
{% block css %}<link rel="stylesheet" type="text/css" href="/styles/documents.css" />{% endblock css %}
{% block body %}
    <div class="banner">
        <div class="banner_container row">
            <a href="/" class="banner_logo col-sm-12 col-md-2 col-lg-1 text-center"><img src="images/logo_k.png" alt="Logo Kasprzaka" class="banner_img"></a>
            <p class="col-sm-12 col-md-10 col-lg-11">ZESPÓŁ SZKÓŁ NR 36 IM. MARCINA KASPRZAKA</p>
            <div class="banner_toggle">
                <i class="fas fa-bars" id="banner_toggle"></i>
            </div>
        </div>
        <div class="main_content row">
            <div class="text col-md-12 col-lg-6 d-flex justify-content-center align-items-center" style="flex-direction:column; flex-wrap:wrap;">
                <h1>SZUFLADA EGZAMINU</h1>
                <p>W tej szufladzie znajdują się dokumenty dla osoób biorących udział w egzaminie kwalifikacyjnym. Znajdziesz tu wszystkie dokumenty, które przydadzą Ci się w niedalekiej przyszłości.</p>
            </div>
            <img class="col-md-12 col-lg-6" src="images/undraw_exams_g4ow.svg" alt="główne zdj">
        </div>
    </div>



    <div class="informations">
        <div class="custom-shape-divider-top-1619165810">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>

        <div class="accordion" style="padding: 3rem 0;">
            <div class="accadd">
                <div class="contentBx">
                    <div class="label">Przygotowanie do egzaminu</div>
                    <div class="content">
                        <ul>
                            <li><a href="school_documents/Egzamin/przygotowanie_do_egzaminu/EZ_dostosowania_warunkow_form.pdf" target="_blank"> Komunikat dyrektora CKE z 20 sierpnia 2020 r. w sprawie szczegółowych sposobów dostosowania warunków i form przeprowadzania egzaminu zawodowego w roku szkolnym 2020/2021</a></li>
                            <li><a href="school_documents/Egzamin/przygotowanie_do_egzaminu/EZ_załaczniki.docx"> Postępowanie podczas egzaminu</a></li>
                            <li><a href="school_documents/Egzamin/przygotowanie_do_egzaminu/Komunikat_materialy_przybory.pdf" target="_blank"> Komunikat dyrektora CKE z 10 grudnia 2020 r. w sprawie materiałów i przybo-rów pomocniczych, z których mogą̨ korzystać́ zdający w części pisemnej egzaminu zawodowego w sesji styczeń-luty 2021 r.</a></li>
                            <li><a href="school_documents/Egzamin/przygotowanie_do_egzaminu/Komunikat2a_materialy_przybory.pdf" target="_blank"> Komunikat dyrektora CKE z 10 grudnia 2020 r. w sprawie materiałów i przybo-rów pomocniczych, z których mogą̨ korzystać́ zdający w części praktycznej egzaminu zawodowego w sesji styczeń-luty 2021 r.</a></li>
                            <li><a href="school_documents/Egzamin/przygotowanie_do_egzaminu/przebieg_egzaminu_zawodowego.docx"> Przebieg egzaminu zawodowego</a></li>
                            <li><a href="school_documents/Egzamin/przygotowanie_do_egzaminu/wytyczne_sanitarne.docx"> Wytyczne sanitarne</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">deklaracje</div>
                    <div class="content">
                        <ul>
                            <li><a href="school_documents/Egzamin/deklaracje/Deklaracja_egzamin poprawkowy.pdf" target="_blank">Deklaracja w sprawie przystąpienia do egzaminu poprawkowego</a></li>
                            <li><a href="school_documents/Egzamin/deklaracje/deklaracja_kw_2017.pdf" target="_blank"> Deklaracja dla ucznia, słuchacza lub absolwenta szkoły</a></li>
                            <li><a href="school_documents/Egzamin/deklaracje/wniosek_o_sume_punktow.pdf" target="_blank"> Wniosek o weryfikację sumy punktów egzaminu potwierdzającego kwalifikacje w zawodzie </a></li>
                            <li><a href="school_documents/Egzamin/deklaracje/wniosek_o_wglad.pdf" target="_blank"> Wniosek o wgląd do pracy egzaminacyjnej egzaminu potwierdzającego kwalifikacje w zawodzie </a></li>
                        </ul>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">Harmonogram egzaminów</div>
                    <div class="content">
                        <ul>
                            <li><a href="school_documents/Egzamin/harmonogram/termin_egzaminu_klasyfikacyjnego.pdf" target="_blank"> Termin egzaminu kwalifikacyjnego</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">komunikaty cke</div>
                    <div class="content">
                        <ul>
                            <li><a href="school_documents/Egzamin/komunikaty_cke/oke_waw_28222021_PP2012_Harmonogram_EPKwZ.pdf" target="_blank"> Komunikat dyrektora CKE z 20 sierpnia 2020 r. w sprawie harmonogramu przeprowadzania egzaminu potwierdzającego kwalifikacje w zawodzie oraz egzaminu eksternistycznego potwierdzającego kwalifikacje w zawodzie w 2021 roku</a></li>
                            <li><a href="school_documents/Egzamin/komunikaty_cke/oke_waw_28242021_PP2017_Harmonogram_EPKwZ.pdf" target="_blank"> Komunikat dyrektora CKE z 20 sierpnia 2020 r.w sprawie harmonogramu przeprowadzania egzaminu potwierdzającego kwalifikacje w zawodzie oraz egzaminu eksternistycznego potwierdzającego kwalifikacje w zawodzie w 2021 roku</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
           
        <div class="custom-shape-divider-bottom-1619073916">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>
{% endblock body %}
{% block js %}<script src="/scripts/documents.js"></script>{% endblock js %}
