{% extends 'base.html.twig' %}
{% block title %} Nauczyciele || Dokumenty {% endblock title %}
{% block css %}<link rel="stylesheet" type="text/css" href="/styles/documents.css" />{% endblock css %}
{% block body %}
    <div class="banner">
        <div class="banner_container row">
            <a href="/" class="banner_logo col-sm-12 col-md-2 col-lg-1 text-center"><img src="images/logo_k.png" alt="Logo Kasprzaka" class="banner_img"></a>
            <p class="col-sm-12 col-md-10 col-lg-11">ZESPÓŁ SZKÓŁ NR 36 IM. MARCINA KASPRZAKA</p>
            <div class="banner_toggle">
                <i class="fas fa-bars" id="banner_toggle"></i>
            </div>
        </div>
        <div class="main_content row">
            <div class="text col-md-12 col-lg-6 d-flex justify-content-center align-items-center" style="flex-direction:column; flex-wrap:wrap;">
                <h1>SZUFLADA NAUCZYCIELI</h1>
                <p>Nauczycielu! To tutaj znajdziesz dokumenty, jakie potrzebujesz do pracy w naszej szkole. Znajdziesz tutaj wszystkie informacje potrzebne do naszej współpracy i codziennych obowiązków nauczyciela.</p>
            </div>
            <img class="col-md-12 col-lg-6" src="images/undraw_teacher_35j2.svg" alt="główne zdj">
        </div>
    </div>



    <div class="informations">
        <div class="custom-shape-divider-top-1619165810">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>

        <div class="accordion" style="padding: 3rem 0;">
            <div class="accadd">
                <div class="contentBx">
                    <div class="label">Harmonogramy spotkań, dyżurów</div>
                    <div class="content">
                        <ul>
                            <li><a href="school_documents/Nauczyciele/Harmonogramy_spotkan_zebran_dyzurow/Dyzury_nauczycieli.doc"> Harmonogram dyżurów nauczycieli</a></li>
                            <li><a href="school_documents/Nauczyciele/Harmonogramy_spotkan_zebran_dyzurow/harmonogram_zebran_2020_2021.pdf" target="_blank"> Harmonogram zebrań</a></li>
                            <li><a href="school_documents/Nauczyciele/Harmonogramy_spotkan_zebran_dyzurow/Harmonogram_RP_2020_2021.pdf" target="_blank"> Harmonogram spotkań Rady Pedagogicznej</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">Program nauczania dla klas I</div>
                    <div class="content">
                        <ul>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/Angielski_Repetytorium_maturalne.docx"> Język Angielski</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/Angielski_Rozklad_zajec.docx"> Rozkład zajęć języka angielskiego</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/biologia.pdf" target="_blank"> Biologia - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/Chemia.pdf" target="_blank"> Chemia - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/Etyka.pdf" target="_blank"> Etyka - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/fizyka_program_p.pdf" target="_blank"> Fizyka podstawowa - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/fizyka_program.pdf" target="_blank"> Fizyka - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/geografia.pdf" target="_blank"> Geografia - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/historia.pdf" target="_blank"> Historia - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/język niemiecki.pdf" target="_blank"> Język niemiecki - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/język polski.pdf" target="_blank"> Język polski - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/język rosyjski.pdf" target="_blank"> Język rosyjski - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/matematyka technik elektronik rozszerzony.pdf" target="_blank"> Matematyka rozszerzona - program nauczania dla techników elektroników</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/matematyka technik informatyk podstawowy.pdf" target="_blank"> Matematyka podstawowa - program nauczania dla technika informatyka</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/matematyka technik informatyk rozszerzony.pdf" target="_blank"> Matematyka rozszerzona - program nauczania dla technika informatyka</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/przedsiebiorczosc.pdf" target="_blank"> Przedsiębiorczość - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/Plan_wynikowy_Informatyka_2015_2016.docx"> Informatyka - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/Plan_wynikowy_Informatyka_Rozszerzona_2015_2016.docx"> Informatyka rozszerzona - program nauczania</a></li>
                            <li><a href="school_documents/Nauczyciele/Program nauczania dla klas I/spotkania-z-kultura-program.pdf" target="_blank"> Wiedza o kulturze - program nauczania</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">Zdalne nauczanie</div>
                    <div class="content">
                        <ul>
                            <li><a href="school_documents/Nauczyciele/Zdalne nauczanie/pomocnik_dla_nauczyciela_lekcje_zdalne.pptx"> Lekcje zdalne - pomocnik dla nauczyciela</a></li>
                            <li><a href="school_documents/Nauczyciele/Zdalne nauczanie/Szkolenie_PZN.pdf" target="_blank"> Szkolenie PZN dla nauczycieli</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">Staże zagraniczne/rekrutacja</div>
                    <div class="content">
                        <ul>
                            <li><a href="school_documents/Nauczyciele/Staze_Zagraniczne/Regulamin_rekrutacji_nauczyciel.pdf" target="_blank"> Regulamin rekrutacji nauczyciela na staże zagraniczne</a></li>
                            <li><a href="school_documents/Nauczyciele/Staze_Zagraniczne/Formularz_zgloszeniowy_pracownik.docx"> Staże Zagraniczne - formularz zgłoszeniowy pracownika</a></li>
                            <li><a href="school_documents/Nauczyciele/Staze_Zagraniczne/Regulamin_stazu_nauczyciel.pdf" target="_blank"> Regulamin stażu zagranicznego</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">Przedziwdziałanie mobbingowi/dyskryminacji/molestowaniu</div>
                    <div class="content">
                        <ul>
                            <li><a href="school_documents/Nauczyciele/Przeciwdzialanie_mobbingowi_molestowaniu_dyskryminacji/oswiadczenie.pdf" target="_blank"> Oświadczenie w sprawie wprowadzenia wewnętrznej procedury przeciwdziałania mobbingowi i molestowaniu seksualnemu</a></li>
                            <li><a href="school_documents/Nauczyciele/Przeciwdzialanie_mobbingowi_molestowaniu_dyskryminacji/zalacznik_490.pdf" target="_blank"> Raport o przeciwdziałaniumobbingowi, molestowaniu seksualnemu i dyskryminacji</a></li>
                            <li><a href="school_documents/Nauczyciele/Przeciwdzialanie_mobbingowi_molestowaniu_dyskryminacji/zalacznik_491.pdf" target="_blank"> Oświadczenie w sprawie wprowadzenia wewnętrznej procedury przeciwdziałania mobbingowi i molestowaniu seksualnemu do załącznika 491</a></li>
                            <li><a href="school_documents/Nauczyciele/Przeciwdzialanie_mobbingowi_molestowaniu_dyskryminacji/zarzadzenie_490.pdf" target="_blank"> Zarządzenie nr 490</a></li>
                            <li><a href="school_documents/Nauczyciele/Przeciwdzialanie_mobbingowi_molestowaniu_dyskryminacji/zarzadzenie_491.pdf" target="_blank"> Zarządzenie nr 491</a></li>
                            <li><a href="school_documents/Nauczyciele/Przeciwdzialanie_mobbingowi_molestowaniu_dyskryminacji/Zarządzenie_ZS36.pdf" target="_blank"> Zarządzenie dyrektora ZS nr 36 im. Marcina Kasprzaka</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">Wnioski</div>
                    <div class="content">
                        <ul>
                            <li><a href="school_documents/Nauczyciele/Wnioski/dbfo_wniosek_covid_zdalna.pdf" target="_blank"> Oświadczenie w sprawie COVID-19</a></li>
                            <li><a href="school_documents/Nauczyciele/Wnioski/Deklaracja o rezygnacji z dokonywania wplat_PPK.pdf" target="_blank"> Staże Zagraniczne - formularz zgłoszeniowy pracownika</a></li>
                            <li><a href="school_documents/Nauczyciele/Wnioski/Kwestionariusz_osoby.pdf" target="_blank"> Kwestionariusz osoby dla osoby ubiegającej się o zatrudnienie</a></li>
                            <li><a href="school_documents/Nauczyciele/Wnioski/wniosek_o_urlop_okolicznosciowy.pdf" target="_blank"> Wniosek o urlop okolicznościowy</a></li>
                            <li><a href="school_documents/Nauczyciele/Wnioski/wniosek_o_zapomoge.pdf" target="_blank"> Wniosek o zapomoge</a></li>
                            <li><a href="school_documents/Nauczyciele/Wnioski/Wniosek_o_zawarcie_umowy_PPK.pdf" target="_blank"> Wniosek o zawarcie umowy PPK</a></li>
                            <li><a href="school_documents/Nauczyciele/Wnioski/wniosek_urlop_bezplatny.pdf" target="_blank"> Wniosek o urlop bezpłatny</a></li>
                            <li><a href="school_documents/Nauczyciele/Wnioski/wniosek_zaswiadczenie_zatrudnienia_wynagrodzenia.pdf" target="_blank"> Wniosek w sprawie wystawienia zaświadczenia o zatrudnieniu i wynagrodzeniu</a></li>
                        </ul>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">Inne</div>
                    <div class="content">
                        <ul>
                            <li><a href="school_documents/Nauczyciele/Inne/Informacja_dla_nauczycieli.pdf" target="_blank"> Informacja dla nauczycieli</a></li>
                            <li><a href="school_documents/Nauczyciele/Inne/Program_ wychowawczo_profilaktyczny.pdf" target="_blank"> Program wychowawczo-profilaktyczny</a></li>
                            <li><a href="school_documents/Nauczyciele/Inne/karta_wycieczki.pdf" target="_blank"> Karta wycieczki</a></li>
                            <li><a href="school_documents/Nauczyciele/Inne/lista_oplacajacych_skladke_ubezpieczeniowa.docx"> Lista opłacających składkę ubezpieczeniową</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-shape-divider-bottom-1619073916">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>
{% endblock body %}
{% block js %}<script src="/scripts/documents.js"></script>{% endblock js %}