{% extends 'base.html.twig' %}

{% block body %}
    <div class="banner">
        <div class="banner_container">
            <a href="#" class="banner_logo"><img src="images/logo_k.png" alt="Logo Kasprzaka" class="banner_img"></a>

            <div class="banner_toggle">
                <i class="fas fa-bars" id="banner_toggle"></i>
            </div>
        </div>
    </div>

    <div class="s-nawigacja" id="nawigacja">
        <nav class="naw">
            <div>
                <a href="#" class="naw_link naw__logo">
                    <i class="fas fa-robot naw_icon"></i>
                    <span class="naw_logo-name">ZS nr 36 im. Marcina Kasprzaka</span>
                </a>

                <div class="naw-list">
                    <div class="naw_items">
                        <a href="#" class="naw_link active">
                            <i class="fas fa-home naw_icon"></i>
                            <span class="naw_name">Home</span>
                        </a>
                        <div class="naw_dropdown">
                            <a href="#" class="naw_link">
                                <i class="fas fa-graduation-cap naw_icon"></i>
                                <span class="naw_name">School</span>
                                <i class="fas fa-chevron-down naw_icon naw_dropdown_icon"></i>
                            </a>

                            <div class="naw_dropdwon_coll">
                                <div class="naw_dropdown_content">
                                    <a href="#" class="naw_dropdown_items">For Parents</a>
                                    <a href="#" class="naw_dropdown_items">For Students</a>
                                    <a href="#" class="naw_dropdown_items">Projects</a>
                                    <a href="#" class="naw_dropdown_items">Exams</a>
                                    <a href="#" class="naw_dropdown_items">Documents</a>
                                </div>
                            </div>
                        </div>
                        

                        <a href="https://uonetplus.vulcan.net.pl/warszawawola" class="naw_link">
                            <i class="fas fa-book naw_icon"></i>
                            <span class="naw_name">Diary</span>
                        </a>

                        <a href="#" class="naw_link">
                            <i class="far fa-newspaper naw_icon"></i>
                            <span class="naw_name">News</span>
                        </a>

                        <a href="#" class="naw_link">
                            <i class="fas fa-phone-alt naw_icon"></i>
                            <span class="naw_name">Contact</span>
                        </a>

                        <a href="#" class="naw_link">
                            <i class="fas fa-photo-video naw_icon"></i>
                            <span class="naw_name">Gallery</span>
                        </a>

                        <a href="#" class="naw_link">
                            <i class="far fa-handshake naw_icon"></i>
                            <span class="naw_name">Partners</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="informations">
        <div class="custom-shape-divider-top-1619165810">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
        <div class="custom-shape-divider-bottom-1619073916">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>
    <div class="statistics">

    </div>
{% endblock body %}
