{% extends 'base.html.twig' %}

{% block body %}
<div class="navbar">
    <a class="navbar-brand" href="#">
        <span>Zespół Szkół nr 36 im. Marcina Kasprzaka</span>
        <img src="images/logo_k.png" alt="logo Kaprzaka">
    </a>
</div>
<div>
    <div class="baner">
    </div>
</div>
{% endblock body %}
