{% extends 'base.html.twig' %}
{% block title %} Logowanie {% endblock title %}
{% block body %}
    <div class="logreg">
        <div class="form">
            <h3>Logowanie</h3>
            <form method="POST">
                <div class="form-group">
                    <label class="form-label" for="name">Nazwa Użytkownika</label>
                    <input class="form-control" type="text" id="name" name="username" placeholder="Nazwa Użytkownika" />
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">Hasło</label>
                    <input class="form-control" type="password" id="password" name="password" placeholder="Hasło" />
                </div>

                <br />
                <input type="submit" class="btn" value="Zaloguj" /></br><br/>
                <a href="/register" class="link_to_register">Nie masz konta? Zarejestruj się!</a>
            </form>
        </div>
    </div>
    
    
    
    

    
{% endblock body %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="styles/logreg.css" />
{% endblock css %}