{% extends 'base.html.twig' %}
{% block title %}Partnerzy{% endblock title %}
{% block body %}
    <div class="banner">
        <div class="banner_container row">
            <a href="/" class="banner_logo col-sm-12 col-md-2 col-lg-1 text-center"><img src="images/logo_k.png" alt="Logo Kasprzaka" class="banner_img"></a>
            <p class="col-sm-12 col-md-10 col-lg-11">ZESPÓŁ SZKÓŁ NR 36 IM. MARCINA KASPRZAKA</p>
            <div class="banner_toggle">
                <i class="fas fa-bars" id="banner_toggle"></i>
            </div>
        </div>
        <div class="main_content row"  style="padding: 0rem 5rem; padding-bottom: 10rem;">
            <div class="text col-md-12 col-lg-6">
                <h1>ZAPOZNAJ SIĘ Z NASZYMI PARTNERAMI</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quaerat ipsum nobis nostrum enim iusto voluptate magnam sapiente praesentium illo!</p>
            </div>
            <img class="col-md-12 col-lg-6" src="images/undraw_playing_cards_cywn.svg" alt="główne zdj">
        </div>
    </div>



    <div class="informations_partners">
        <div class="custom-shape-divider-top-1619165810">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>

        <div class="kon">
            <div class="card">
                <div class="imgBox">
                    <img src="images/oke.png" alt="kompania elektroniczna">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.komele.eu" target="_blank">Kompania elektroniczna</a></h3>
                        <p>Kompania elektroniczna to wiarygodny i kompetentny partner biznesowy, działający w branży EMS. Firma zajmuje się produkcją modułów elektronicznych poprzez produkcję płytek obwodów drukowanych, oraz usługami montażu elementów (SMD i THT). </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/med.png" alt="medcom">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.medcom.com.pl" target="_blank">Medcom</a></h3>
                        <p>MEDCOM to jeden z najbardziej innowacyjnych producentów urządzeń energoelektronicznych na świecie.
                            Od prawie 30 lat dostarczają rozwiązania wspierające zaawansowane systemy transportu publicznego oraz układy zasilające w instalacjach przemysłowych i w energetyce.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/1024px-Logo_Trumpf.png" alt="Trumpf">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.trumpf.com/pl_PL/" target="_blank">Trumpf</a></h3>
                        <p style="font-size: 1rem; line-height: 2rem;">Firma TRUMPF z branży zaawansowanych technologii funkcjonuje dzięki nowym pomysłom i impulsom. Katalizatorem tego jest kształcenie. Przez zaangażowanie we wspieranie młodzieży, naukę i badania firma TRUMPF chce wspólnie z partnerami wzbudzić entuzjazm do tworzenia oraz fascynację techniką, gospodarką i cyfryzacją, aby dobrze przygotować naszą branżę na przyszłość.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/Acronis-svg.png" alt="Acronis">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.acronis.com" target="_blank">Acronis</a></h3>
                        <p style="font-size: 1rem; line-height: 2rem;">Acronis to wiodący producent rozwiązań do tworzenia kopii zapasowych, przywracania danych po awarii i bezpiecznego dostępu do danych dla użytkowników domowych, małych i średnich firm oraz przedsiębiorstw. Rozwiązania Acronis obejmują oprogramowanie do tworzenia kopii zapasowych serwerów fizycznych, wirtualnych i chmurowych, zarządzanie magazynami danych, bezpieczne współdzielenie plików i rozsyłanie systemów. </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/rsonline.png" alt="RSOnline Serwis Komputerowy">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://rsonline.pl" target="_blank">RSOnline</a></h3>
                        <p>RSOnline zajmuje się sprzętem elektronicznym jak i outsourcing’iem IT. Firma oferuje szeroki wachlarz usług. Zajmuje się praktycznie wszystkimi zagadnieniami z dziedziny informatyki.
                        </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/ntt.png" alt="NTT System">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://ntt.pl" target="_blank">NTT System</a></h3>
                        <p>NTT System S.A. jest największym, polskim producentem komputerów stacjonarnych, dostarczanych zarówno pod marką własną, jak i markami zleconymi. Firma należy do grona czołowych dystrybutorów akcesoriów, podzespołów oraz urządzeń peryferyjnych w Polsce. </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/1280px-Samsung_Logo.png" alt="Samsung">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.samsung.com/pl/" target="_blank">Samsung</a></h3>
                        <p>Samsung, przedsiębiorstwo, którego nie trzeba przedstawiać. Za sprawą sukcesu odniesionego na polu elektroniki firma Samsung została uznana za branżowego lidera w dziedzinie technologii i sklasyfikowana jako jedna z dziesięciu najlepszych marek na świecie.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/tp-link.png" alt="tp-link">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.tp-link.com/pl/" target="_blank">Tp-link</a></h3>
                        <p>TP-Link od ponad 20 lat redefiniuje sposób w jaki myślimy o sieciach bezprzewodowych. Stawiając na niezawodność i wydajność, producent może pochwalić się portfolio produktów, w którym każdy znajdzie coś dla siebie. Marce zaufały setki milionów osób w ponad 170 krajach, czyniąc firmę światowym liderem rynku WLAN.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/exell.png" alt="Exell">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="http://exell.pl" target="_blank">Exell</a></h3>
                        <p>Firma Exell od 1987 roku świadczy profesjonalne usługi informatyczne dla dużych i małych firm. Oferuje oprogramowanie komputerowe dla sektora administracji publicznej oraz klientów indywidualnych. </p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/ram-serwis.png" alt="RAM Serwis">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="http://ramserwis.pl" target="_blank">RAM Serwis</a></h3>
                        <p>RAM-SERWIS Sp. z o.o. jest jedną z największych na polskim rynku firmą, która zajmuje się profesjonalnymi naprawami i serwisem sprzętu IT. Oferta obejmuje serwis smartfonów, tabletów, notebook'ów, komputerów PC, drukarek, serwerów, usługi związane z instalacją i serwisem software'u.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/espo.png" alt="ESPO">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://espo.com.pl" target="_blank">ESPO</a></h3>
                        <p>Firma PHU ESPO Sp. z o.o. jest Autoryzowanym Serwisem Apple dzięki czemu może wykonywać usługi serwisowe w okresie gwarancji jak i naprawy pogwarancyjne. Odpowiednie certyfikaty firmy Apple pozwalają na profesjonalne wykonanie napraw  sprzętu od zwykłego iPoda shuffle przez iPad, iPhone aż do skomplikowanych napraw sprzętu komputerowego. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-shape-divider-bottom-1619073916">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>
{% endblock body %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="styles/partners.css" />
{% endblock css %}