{% extends 'base.html.twig' %}
{% block title %}Partnerzy{% endblock title %}
{% block body %}
    <div class="banner">
        <div class="banner_container">
            <a href="#" class="banner_logo"><img src="images/logo_k.png" alt="Logo Kasprzaka" class="banner_img"></a>
            <p>ZESPÓŁ SZKÓŁ NR 36 IM. MARCINA KASPRZAKA</p>
            <div class="banner_toggle">
                <i class="fas fa-bars" id="banner_toggle"></i>
            </div>
        </div>
        <div class="main_content">
            <div class="text">
                <h1>ZAPOZNAJ SIĘ Z NASZYMI PARTNERAMI</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quaerat ipsum nobis nostrum enim iusto voluptate magnam sapiente praesentium illo!</p>
            </div>
            <img src="images/undraw_playing_cards_cywn.svg" alt="główne zdj">
        </div>
    </div>



    <div class="informations_partners">
        <div class="custom-shape-divider-top-1619165810">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>

        <div class="kon">
            <div class="card">
                <div class="imgBox">
                    <img src="images/oke.png" alt="kompania elektroniczna">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.komele.eu" target="_blank">Kompania elektroniczna</a></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur unde? Eligendi in corrupti eaque quam repellendus ea dolore commodi.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/med.png" alt="medcom">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.medcom.com.pl" target="_blank">Medcom</a></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur unde? Eligendi in corrupti eaque quam repellendus ea dolore commodi.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/1024px-Logo_Trumpf.png" alt="Trumpf">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.trumpf.com/pl_PL/" target="_blank">Trumpf</a></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur unde? Eligendi in corrupti eaque quam repellendus ea dolore commodi.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/Acronis-svg.png" alt="Acronis">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.acronis.com" target="_blank">Acronis</a></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur unde? Eligendi in corrupti eaque quam repellendus ea dolore commodi.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/rsonline.png" alt="RSOnline Serwis Komputerowy">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://rsonline.pl" target="_blank">RSOnline</a></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur unde? Eligendi in corrupti eaque quam repellendus ea dolore commodi.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/ntt.png" alt="NTT System">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://ntt.pl" target="_blank">NTT System</a></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur unde? Eligendi in corrupti eaque quam repellendus ea dolore commodi.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/1280px-Samsung_Logo.png" alt="Samsung">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.samsung.com/pl/" target="_blank">Samsung</a></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur unde? Eligendi in corrupti eaque quam repellendus ea dolore commodi.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/regenersis.png" alt="regenersis">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.ctdi.pl" target="_blank">Regenersis</a></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur unde? Eligendi in corrupti eaque quam repellendus ea dolore commodi.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/tp-link.png" alt="tp-link">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://www.tp-link.com/pl/" target="_blank">Tp-link</a></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur unde? Eligendi in corrupti eaque quam repellendus ea dolore commodi.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/exell.png" alt="Exell">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="http://exell.pl" target="_blank">Exell</a></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur unde? Eligendi in corrupti eaque quam repellendus ea dolore commodi.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/ram-serwis.png" alt="RAM Serwis">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="http://ramserwis.pl" target="_blank">RAM Serwis</a></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur unde? Eligendi in corrupti eaque quam repellendus ea dolore commodi.</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="imgBox">
                    <img src="images/espo.png" alt="ESPO">
                </div>
                <div class="contentBox">
                    <div class="content">
                        <h3><a href="https://espo.com.pl" target="_blank">ESPO</a></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, consequuntur unde? Eligendi in corrupti eaque quam repellendus ea dolore commodi.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-shape-divider-bottom-1619073916">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>
{% endblock body %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="styles/partners.css" />
{% endblock css %}