{% extends 'base.html.twig' %}

{% block body %}
    <div class="logreg">
        <div class="form">
            <h3>Dziękujemy za rejestracje!</h3>
            <p>Jesteś zarejestrowany! Teraz możesz się zalogować!</p>
        </div>
    </div>
{% endblock body %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="styles/logreg.css" />
{% endblock css %}