{% extends 'base.html.twig' %}
{% block title %} Projekty {% endblock title %}
{% block css %}<link rel="stylesheet" type="text/css" href="/styles/documents.css" />{% endblock css %}
{% block body %}
    <div class="banner">
        <div class="banner_container row">
            <a href="/" class="banner_logo col-sm-12 col-md-2 col-lg-1 text-center"><img src="images/logo_k.png" alt="Logo Kasprzaka" class="banner_img"></a>
            <p class="col-sm-12 col-md-10 col-lg-11">ZESPÓŁ SZKÓŁ NR 36 IM. MARCINA KASPRZAKA</p>
            <div class="banner_toggle">
                <i class="fas fa-bars" id="banner_toggle"></i>
            </div>
        </div>
        <div class="main_content row">
            <div class="text col-md-12 col-lg-6 d-flex justify-content-center align-items-center" style="flex-direction:column; flex-wrap:wrap;">
                <h1>DOWIEDZ SIĘ WIĘCEJ O NASZYCH PROJEKTACH</h1>
                <p>Oto wstęp do projektów naszej szkoły. Tutaj dowiesz się o kształceniu zawodowym naszych uczniów w dziedzinie fotoniki-interdyscyplinarnej łączącej dokonania optyki, elektroniki i informatyki.</p>
            </div>
            <img class="col-md-12 col-lg-6" src="images/undraw_mobile_testing_reah.svg" alt="główne zdj" class="project_image">
        </div>
    </div>



    <div class="informations">
        <div class="custom-shape-divider-top-1619165810">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
        <h2 class="pb-5 pt-5 text-center mb-5 display-5" style="font-size: 2.5rem;"><span style="color: var(--primary-color);">NASZE</span> PROJEKTY</h2>
        <div class="accordion" style="padding: 1rem 0;">
            <div class="accadd">
                <div class="contentBx">
                    <div class="label" >Staże Zagraniczne</div>
                    <div class="content">
                        <p>Praktyki w własnym rodowym kraju są łatwe ale uczestniczenie w nich poza nim jest ciekawsze. Dzięki Stażu poza granicami Polski uczeń będzie miał okazje zobaczyc jak to jest pracować w innym kraju.</p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label" >Młodzi bliżej rynku pracy – kształcenie zawodowe elektroników i informatyków</div>
                    <div class="content">
                        <p>Zajęcia uzupełniające wiedzę i rozwijania kompetencji miękkich.</p>
                        <p>Uczniowie nauczą się dzieki nim m.in. tworzyć druk 3D, poznają technikę światłodową oraz tworzyć symulacje procesów elektronicznych.</p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label" >Atrakcyjny Zawodowo Pracownik</div>
                    <div class="content">
                        <p>Uczestnicy projektu wzbogaceni w nowe umiejętności, wiedzę i doświadczenie, staną się poszukiwanymi fachowcami i specjalistami.</p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label" >Kompleksowo Zawodowi</div>
                    <div class="content">
                        <p>Wsparcie dla uczniów naszej szkoły w zakresach praktyk, zajęć dodatkowych i wiele innych.</p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">„Mój wybór moja decyzja”</div>
                    <div class="content">
                        <p>Badanie i rozwój predyspozycji zawodowych uczniów szkół zawodowych i techników.</p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label" >„Uczeń z Certyfikatem”</div>
                    <div class="content">
                        <p>Celem projektu jest podniesienie kwalifikacji zawodowych uczniów o specjalistyczne szkolenie z zakresu elektroniki oraz wyrównanie szans edukacyjnych poprzez realizację dodatkowych zajęć z języka polskiego, matematyki oraz języka angielskiego.</p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="label">„Warszawski model wspomagania szkół” </div>
                    <div class="content">
                        <p>Jako przykład systemowego rozwiązania dla obszarów metropolitalnych nasza szkoła uczestniczy w tym oto projekcie.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom-shape-divider-bottom-1619073916">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>
{% endblock body %}
{% block js %}<script src="/scripts/documents.js"></script>{% endblock js %}