.ban_title {
    position: relative;
    top: 85px;
    left: 150px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: var(--primary-color);
    -webkit-text-stroke: 0.1vw var(--white);
    text-transform: uppercase;
    
}

.ban_title::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    height: 4%;
    color: var(--white);
    -webkit-text-stroke: 0vw var(--white);
    border-right: 2px solid var(--white);
    overflow: hidden;
    animation: animate 5s linear infinite;
    font-size: 32px;
}

@keyframes animate {
    0% {
        width: 0;
    }
    70% {
        width: 40%;
    }
}