:root {
    --primary-color:    #0353A4;
    --secondary-color:  #0466C8;
    --third-color:      #023E7D;
    --color_4:          #002855;
    --color_5:          #001845;
    --color_6:          #001233;
    --color_7:          #33415C;
    --color_8:          #5C677D;
    --color_9:          #7D8597;
    --color_10:         #979DAC;
    --white:            #fff;
    --black:            #000;
    --title-font:       'Bebas Neue', cursive;
    --cursive-font:     'Shadows Into Light Two', cursive;
    --default-font:     'Spartan', sans-serif;
}
/*********** GLOBAL **************/
*, ::before,::after{
    box-sizing: border-box;
}
body, html {
    font-family: var(--default-font);
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
}
body {
    overflow-x: hidden;
}

*::selection {
    background-color: var(--main-color);
    color: var(--primary-bg-color);
}

html::-webkit-scrollbar {
    width: 1.3rem;
}

html::-webkit-scrollbar-track {
    background: var(--color_4);
}

html::-webkit-scrollbar-thumb {
    background: var(--third-color);
    border-radius: .5rem;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 1em 0;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: inherit;
    text-decoration: none;
}

.btn-main {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px var(--color_5) solid;
    color: var(--white);
    transition: transform .3s, box-shadow .3s;
    margin: 5px 0;
}

.btn-main:hover {
    outline: none;
    transform: scale(1.05, 1.05);
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, .8);
}

body > * {
    max-width: 100vw;
}

/* ****** NAVBAR ******* */

/* ****** MAIN CONTENT ******** */

.sekcja {
    padding: 150px 100px;
    width: 100vw;
    position: relative;
    background: linear-gradient(var(--secondary-color), var(--color_4));

}

.additional_info {
    width: 100vw;
    padding: 100px 100px;
    background: linear-gradient(var(--secondary-color), var(--color_4));
    color: white;
}

.stats {
    width: 100vw;
    padding: 150px 100px;
    background-color: white;
    position: relative;
}

.banner {
    background: linear-gradient( rgba(2,62,125,1) 12%, rgba(47,137,228,1) 90%); 
    min-height: 90vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.banner_contact {
    background: linear-gradient( rgba(2,62,125,1) 12%, rgba(47,137,228,1) 90%); 
    height: 110vh;
    width: 100vw;
}

.banner_container {
    padding: 2rem 4rem;
    color: white;
    align-items: center;
    justify-content: center;
}

.banner_img {
    width: 80px;
    height: 80px;
}


.banner_container p {
    font-size: 20px;
    text-align: left;
    font-weight:600;
    margin: 0;
    padding: 0;
}

.banner_toggle {
    font-size: 1.2rem;
    cursor: pointer;
    visibility: hidden;
    padding-right: 2rem;
    z-index: 10000;
}

.banner .main_content {
    justify-content:  space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

.banner .main_content .text {
    align-items: center;
    width: 30vw;
    text-align: center;
    color: var(--white);
}

.banner .main_content h1 {
    font-size: 55px;
    font-family: var(--title-font);
}

.banner .main_content p {
    font-size: 21px;
}

.banner .main_content .students_image {
    width: 40vw;
    height: 40vw;
    margin-top: 5rem;
}

.banner .main_content .project_image {
    margin-top: 5rem;
}

.banner .main_content .documents_image {
    width: 40vw;
    height: 40vw;
    margin-top: 5rem;
}

.banner .main_content .gallery_image {
    width: 40vw;
    height: 40vw;
    margin-top: 5rem;
}

.s-nawigacja {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 1.2rem 1.5rem 3rem;
    background-color: var(--color_4);
    box-shadow: 1px 0 0 rgba(22, 8, 43, .1);
    z-index: 100;
    transition: .4s;
    width: 75px;
    color: var(--white);
    opacity: 0.9;
}

.s-nawigacja:hover {
    width: 300px;
}

.s-nawigacja:hover .naw_logo-name{
    opacity: 1;
}

.s-nawigacja:hover .naw_name{
    opacity: 1;
}

.s-nawigacja:hover .naw_dropdown_icon{
    opacity: 1;
}

.naw {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;

}  

.naw::-webkit-scrollbar{
    display: none;
}

.naw__logo {
    font-weight: 600;
    margin-bottom: 3rem;
}

.naw_logo-name {
    text-align: center;
    padding-top: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.naw_logo-name,
.naw_name,
.naw_dropdown_icon {
    opacity: 0;
    transition: .3s;
}

.naw-list,
.naw_items {
    display: grid;
}

.naw-list {
    row-gap: 2.5rem;
}

.naw_items {
    row-gap: 1.7rem;
}

.naw_link {
    display: flex;
    align-items: center;
}

.naw_link:hover {
    color: var(--primary-color);
}

.naw_icon {
    font-size: 1.3rem;
    margin-right: .8rem;
}

.naw_name {
    font-size: 1rem;
    /* font-weight: 500; */
    white-space: nowrap;
}

.naw_dropdown {
    overflow: hidden;
    max-height: 21px;
    transition: .4s ease-in-out;
}

.naw_dropdown:hover{
    max-height: 100rem;
}

.naw_dropdwon_coll {
    background-color: var(--secondary-color);
    border-radius: .40rem;
    margin-top: 1rem;
}

.naw_dropdown_content {
    display: grid;
    row-gap: .5rem;
    padding: .75rem 2.5rem .75rem 2.5rem;
}

.naw_dropdown_items {
    font-size: .85rem;
    font-weight: 500;
}

.naw_dropdown_items:hover {
    color: var(--color_9);
}

.naw_dropdown_icon {
    margin-left: auto;
    transition: .4s;
}

.informations .kon {
    /*width: 1500px;*/
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    min-height: 50vh;
    border: none;
    outline: hidden;
}

.informations .kon .card {
    position: relative;
    padding: 20px;
}

.informations .kon .card .face {
    /*width: 450px;*/
    /*width: 100%;*/
    height: 350px;
    transition: 0.5s;
}

.informations .kon .card .face.face1 {
    position: relative;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(150px);
}

.informations .kon .card:hover .face.face1 {
    transform: translateY(-200px);
    background: var(--secondary-color);
}

.informations .kon .card:hover .face.face1 .content h3 {
    color: var(--white);
}

.informations .kon .card .face.face1 .content {
    opacity: 0.8;
    transition: 0.5s;
}

.informations .kon .card:hover .face.face1 .content {
    opacity: 1;
}

.informations .kon .card .face.face1 .content img{
    max-width: 250px;
    max-height: 250px;
}

.informations .kon .card .face.face1 .content h3 {
    margin: 30px 0 0;
    padding: 0;
    color: var(--primary-color);
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.informations .kon .card .face.face2 {
    position: relative;
    background: var(--primary-color);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-200px);
}

.informations .kon .card .face.face2 p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

.informations .kon .card .face.face2 a{
    margin: 20px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: var(--white);
    padding: 5px;
    border: 1px solid var(--white);
    font-size: 1.3rem;
    border-radius: .3rem;
}

.informations .kon .card .face.face2 a:hover {
    background: var(--white);
    color: var(--primary-color);
}


.informations .additional_info {
    min-height: 100vh;
}

.stats .heading {
    padding-bottom: 0rem;
    font-size: 4rem;
}

.stats .kont {
    display: flex;
    align-items: center;
    min-height: 60vh;
    /*width: 1700px;*/
    justify-content: space-between;
    margin: 0 auto;
}

.stats .kont .cardi {
    position: relative;
    width: 400px;
    height: 350px;
}

.stats .kont .cardi .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.stats .kont .cardi .face.face1 {
    background: linear-gradient(180deg, rgba(3,83,164,1) 28%, rgba(0,40,85,1) 76%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
}

.stats .kont .cardi .face.face1 i{
    max-width: 100px;
    font-size: 6em;
    color: var(--white);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
}

.stats .kont .cardi .face.face1 h3 {
    margin: 40px 0 0;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.5em;
}

.stats .kont .cardi:hover .face.face1 {
    transform: translateY(-100%) rotateX(90deg);
    transition: all 0.5s ease;
}

.stats .kont .cardi .face.face2 {
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
    color: var(--primary-color);
    line-height: 2em;
    font-size: 1em;
}

.stats .kont .cardi:hover .face.face2 {
    transform: translateY(0%) rotateX(0deg);
    transition: all 0.5s ease;
}

.stats .kont .cardi .face.face2 a {
    background: #fff;
    border: 1px solid var(--primary-color);
    padding: 10px;
    margin: 20px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.3rem;
    border-radius: .3rem;
}

.stats .kont .cardi .face.face2 a:hover {
    background: var(--primary-color);
    color: var(--white);
    transition: all 0.3s ease;
}

.sekcja {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.sekcja .wrapper {
    padding: 200px 0;
    /*width: 1500px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sekcja .wrapper .card {
    width: calc(33% - 20px);
    height: 400px;
    border-radius: 5px;
    background: hsla(211, 97%, 25%, 0);
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.sekcja .wrapper .card .circle {
    position: relative;
    height: 300px;
    width: 300px;
    /* border: 8px solid #fff; */
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: default;

}

.sekcja .wrapper .card .circle:hover{
    transform: scale(1.1);
}

.sekcja .wrapper .card .circle .box,
.sekcja .wrapper .card .circle .box span{
    position: absolute;
    top: 50%;
    left: 50%;
}

.sekcja .wrapper .card .circle .box {
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: all 0.5s ease;
}

.sekcja .wrapper .card .circle .box span,
.sekcja .wrapper .card .text {
    background: linear-gradient(180deg, rgba(246,250,255,1) 25%, rgba(37,131,237,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sekcja .wrapper .card .circle .box span {
    font-size: 50px;
    font-weight: 600;
    transform: translate(-45%, -50%);
    transition: all 0.5s ease;

}

.sekcja .wrapper .card .circle:hover .box span{
    transform: translate(-45%, -50%) scale(1.1);
}

.sekcja .wrapper .card .text {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
    margin-top: 4rem;
    text-align: center;
}

.contact {
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 3rem;
}

.contact .wier {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.contact .wier .image img {
    height: 70vh;
    width: 40vw;
}

.contact .wier .form_container {
    width: 50%;
    text-align: left;
    padding: 0 5rem;
    color: var(--white);
}

.contact .wier .form_container input::placeholder, textarea::placeholder{
    color: var(--white);
}

.contact .wier .form_container input, textarea {
    outline: none;
    border: none;
    height: 4rem;
    background: rgba(85, 142, 202, 0.2);
    border-radius: .5rem;
    box-shadow: .2rem .2rem .5rem rgba(0,0,0,.2);
    padding: 0 1rem;
    margin: 1rem 0;
    font-size: 1.1rem;
    
}

.contact .wier .form_container input:focus, textarea:focus {
    transform: scale(1.1);
    transition: .5s;
    color: var(--white);
}

.contact .wier .form_container .inputBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact .wier .form_container .inputBox input[type="text"] {
    width: 49%;
    color: var(--white);
}

.contact .wier .form_container input[type="email"] {
    width: 100%;
}

.contact .wier .form_container textarea {
    width: 100%;
    height: 20rem;
    padding: 1rem;
    resize: none;
}

.contact .wier .form_container input[type="submit"] {
    background: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    height: 4rem;
    width: 10rem;
    text-transform: uppercase;
}

.contact .wier .form_container input[type="submit"]:hover {
    opacity: .8;

}

.informations {
    position: relative;
    /*height: 60vh;*/
    width: 100vw;
}

.informations_contact {
    position: relative;
    /*height: 130vh;*/
    width: 100vw;
}

.informations_documents {
    position: relative;
    /*height: 110vh;*/
    width: 100vw;
}

.informations_about {
    position: relative;
    /*height: 105vh;*/
    width: 100vw;
}

.informations_logreg {
    display: block;
    z-index: 100;
}

.add_contact_info {
    /*min-height: 150vh ;*/
    padding-bottom: 100px;
}

.add_contact_info .box-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.add_contact_info .heading {
    font-size: 3.5rem;
    color: var(--black);
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    margin-top: 4rem;
    margin-bottom: 4rem;

}

.add_contact_info .heading span{
    color: var(--secondary-color);
    text-transform: uppercase;
        
}

.add_contact_info .box-container .box {
    flex: 1 1 30rem;
    margin-bottom: 3rem;
    padding: 3rem 3rem;
    margin-left: 7rem;
    margin-right: 3rem;
    background: var(--white);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    border-radius: .5rem;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
}

.add_contact_info .box-container .box:hover {
    background: rgba(208, 225, 241, 0.479);
    transform: scale(1.1);
}

.add_contact_info .box-container .box:hover p {
    opacity: 1;
}

.add_contact_info .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 3rem;
    /* background: var(--primary-color); */
    background: rgb(0,44,177);
    background: -moz-linear-gradient(180deg, rgba(0,44,177,1) 21%, rgba(64,149,233,1) 92%);
    background: -webkit-linear-gradient(180deg, rgba(0,44,177,1) 21%, rgba(64,149,233,1) 92%);
    background: linear-gradient(180deg, rgba(0,44,177,1) 21%, rgba(64,149,233,1) 92%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002cb1",endColorstr="#4095e9",GradientType=1);
    color: var(--white);
    transition: 0.3s linear;
    
}

.add_contact_info .box-container .box i:hover {
    background: none;
    color: var(--primary-color);
    transform: scale(1.6);
}

.add_contact_info .box-container .box h3 {
    color: var(--primary-text-color);
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.add_contact_info .box-container .box p {
    font-size: 1rem;
    color: var(--secondary-text-color);
    opacity: 0;
    transition: 0.3s linear;
}

.boss_info {
    display: inline-block;
    padding: 100px 10rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.boss_info .pud {
    padding: 3rem;
    background: rgba(147, 167, 255, 0.2);
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 5px rgba(0, 0, 0, 0.3),
    -5px -5px 15px rgba(255, 255, 255, 0.1);
}

/*.boss_info .pud:hover {
    color: var(--primary-color);
    transform: scale(1.1);
    transition: 0.5s;
}*/

.boss_info .pud p {
    font-size: 1.5rem;
    font-style: italic;
    letter-spacing: 2px;
}

.boss_info .pud p::first-letter{
    font-size: 2rem;
    color: var(--primary-color);
}

.informations_gallery {
    position: relative;
    /*height: 170vh;*/
    width: 100vw;
}

.butn {
    display: inline-block;
    padding: .6rem 1rem;
    font-size: 1.5rem;
    background: none;
    color: var(--white);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin-top: 1rem;
    z-index: 0;
    position: relative;
    overflow: hidden;
    border: .2rem solid var(--primary-color);
}

.butn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;
    background: var(--primary-color);
    height: 85%;
    width: 95%;
    z-index: -1;
    transition: .2s linear;
}

.butn:hover:before {
    top: 100%;
    transform: translate(-50%, 100%);
}

.heading {
    font-size: 3rem;
    color: var(--black);
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    margin-top: 5rem;

}

.heading span {
    color: var(--primary-color);
    text-transform: uppercase;
    
}

.informations_gallery .galeria {
    padding-bottom: 50px;
}

.informations_gallery .galeria .button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.informations_gallery .galeria .button-container .butn {
    margin: 1rem;
    cursor: pointer;
}

.informations_gallery .galeria .button-container .butn:hover{
    color: var(--primary-color);
}

.informations_gallery .galeria .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.informations_gallery .galeria .image-container .meh {
    width: 30rem;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    height: 20rem;
    position: relative;
    border: 1.5rem solid var(--white);
    cursor: pointer;
    transition: all 0.5s ease;
}

.informations_gallery .galeria .image-container .meh:hover {
    transform: scale(1.1);
}

.informations_gallery .galeria .image-container .meh img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.informations_gallery .galeria .image-container .meh .info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: .8;
    transform: scale(0);
    transition: all 0.5s ease;
}

.informations_gallery .galeria .image-container .meh:hover .info{
    transform: scale(1);
}

.informations_gallery .galeria .image-container .meh .info h3 {
    font-size: 2rem;
    color: rgb(0, 0, 0);

}

.statistics {
    background: linear-gradient(var(--third-color), var(--color_4));
    max-width: 100vw;
    position: relative;
    color: white;
    padding-bottom: 100px;
}

.statistics .important_things .box-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 3rem;
    
}
.statistics .list-group .list-group-item {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .3s, transform .3s;
}
.statistics .list-group .list-group-item:hover {
    background-color: rgba(0, 0, 0, .3);
    transform: scale(1.05, 1.05);
}

/*.statistics .important_things .box-container img {
    padding: 2rem;
    flex: 1 1 10rem;
}

.statistics .important_things .box-container .img1 {
    width: 25rem;
    height:15rem;
}

.statistics .important_things .box-container .img2 {
    width: 28rem;
    height:10rem;
}

.statistics .important_things .box-container .img3 {
    width: 8rem;
    height:20rem;
}

.statistics .important_things .box-container .img4 {
    width: 30rem;
    height:15rem;
}

.statistics .important_things .box-container .img5 {
    width: 10rem;
    height:15rem;
}

.statistics .important_things .box-container .img6 {
    width: 18rem;
    height:8rem;
}

.statistics .important_things .box-container .img7 {
    width: 15rem;
    height:15rem;
}

.statistics .important_things .box-container .img8 {
    width: 20rem;
    height:15rem;
}

.statistics .important_things .box-container .img9 {
    width: 25rem;
    height:8rem;
}

.statistics .important_things .box-container .img10 {
    width: 20rem;
    height:10rem;
}

.statistics .important_things .box-container .img11 {
    width: 5rem;
    height:20rem;
}*/

.newsy {
    margin: 0 auto;
    padding-bottom: 100px;
}

.newsy h3 {
    text-align: center;
}

.newsy .kafelek {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .3);
    border-radius: 15px;
    margin-bottom: 15px;
}



/* ****** FOOTER ******* */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    /* background-color: var(--secondary-color); */
    color: white;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px rgba(42, 47, 53, 0.7);
}

footer span {
    color: var(--secondary-color);
    padding-left: 1rem;
}


/* Help to reduce chance for site to behave diffrently onload */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@media screen and (max-width: 1600px){
    .banner_contact {
        height: 150vh;
    }
    
    .informations_contact {
        height: 200vh;
    }


}


@media screen and (max-width: 1400px){
    .banner_contact {
        height: 140vh;
    }

    .informations_contact {
        height: 330vh;
    }
}

@media screen and (max-width: 1024px){
    :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --samller-font-size: .813rem;
    }

    .banner_contact {
        height: 220vh;
    }

    .banner_contact .contact .form_container {
        margin-top: 3rem;
    }
    
    .banner_toggle {
        visibility: visible;
        /* padding-top: 1.5rem;
        padding-left: 5rem; */
        position: fixed;
        right: 0;
        padding-right: 2rem;
        top: 2rem;
    }

    .banner_toggle i {
        width: 3rem;
        height: 3rem;
        padding: 1rem 2rem 2rem 1rem;
        border: 2px solid var(--primary-color);
        border-radius: 50%;
        background: var(--primary-color);
        box-shadow: 0rem 0rem 0.5rem var(--color_4);
    }

    .s-nawigacja {
        left: -100%;
        padding: 1rem 1rem 3rem;
        width: 45vw;
    }

    .s-nawigacja:hover {
        width: 45w;
    }

    .naw_items {
        row-gap: 1.5rem;
    }

    .naw_icon {
        font-size: 1.2rem;
    }

    .naw_name {
        font-size: .75rem;
    }

    .naw_dropdown:hover .naw_dropdown_icon{
        transform: rotate(180deg);
    }

    .naw_dropdown_items {
        font-size: .75rem;
    }

    .naw_logo-name,
    .naw_name,
    .naw_dropdown_icon {
        opacity: 1;
    }
    
    .show-menu {
        left: 0;
    }

    .active {
        color: var(--color_8);
    }

    .contact .wier {
        flex-flow: column;
    }

    .contact .wier .image img {
        width: 70vw;
        align-items: center;
    }

    .contact .wier .form_container {
        width: 100%;
        padding: 0 1.5rem;
    }

    .informations_contact {
        height: 240vh;
    }

    .add_contact_info .box-container .box {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .add_contact_info .heading {
        font-size: 2rem;
        margin: 0;
    }

    .add_contact_info .box-container .box i {
        width: 6rem;
        height: 6rem;
    }
    
}


@media screen and (max-width: 840px) {

    .informations_contact {
        height: 330vh;
    }

}

@media screen and (max-width: 763px) {
    
    .sekcja {
        min-height: 100vh;
    }

    .sekcja .wrapper {
        width: 700px;
        flex-direction: column;
    }
    
    .sekcja .wrapper .card {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {

    .sekcja {
        min-height: 150vh;
    }

    .sekcja .wrapper {
        width: 500px;
        flex-direction: column;
    }
    
    .sekcja .wrapper .card {
        width: 100%;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 360px) {
    
    .informations_contact {
        height: 370vh;
        width: 100vw;
    }

    .banner_contact {
        height: 280vh;
    }

    .add_contact_info .box-container .box {
        margin-left: 0;
        margin-right: 0;
    }


    .add_contact_info .box-container .box:nth-child(5){
        width: 90%;
    }
}
